<app-haeder-section></app-haeder-section>
<div class="container ">
    <div class="row">
        <div class="col-lg-6">
            <div id="CustomerLoginForm">

                <h3 data-trans-key="customer.login.login">Reset Password </h3>
                <div class="form-message form-message--success hide" id="ResetSuccess">
                    We've sent you an email with a link to update your password.
                </div>

                <div class="theme-card">
                    <form [formGroup]="formGroup"  id="customer_login" accept-charset="UTF-8" class="theme-form">


                        <div class="form-group">
                            <label for="mobile" data-trans-key="customer.login.email">New Password </label>
                            <input type="password" formControlName="password" name="password" id="CustomerEmail" placeholder="New Password " class="form-control " autocorrect="off" autocapitalize="off" autofocus="">
                        </div>
                        <div class="form-group">
                            <label for="review" data-trans-key="customer.login.password">Confirm Password</label>
                            <input type="password" formControlName="cPassword" name="customer[password]" placeholder="Password" id="CustomerPassword" class="form-control ">
                        </div>
                        <div class="col-md-12">
                            <button type="submit" id="OTP" (click)="onSubmit()" class="btn btn-theme theme-btn-sm"s>submit</button>
                        </div>



                    </form>

                </div>

            </div>

            <div id="recover_password" style="display:none;">
                <h3 data-trans-key="customer.recover_password.title">Reset your password</h3>

                <div class="theme-card">

                    <form method="post" action="/account/recover" accept-charset="UTF-8" class="theme-form"><input type="hidden" name="form_type" value="recover_customer_password"><input type="hidden" name="utf8" value="✓">





                        <div class="form-row">
                            <div class="col-md-12">
                                <label for="RecoverEmail" data-trans-key="customer.recover_password.email">Email</label>
                                <input type="email" value="" name="email" id="RecoverEmail" class="form-control" placeholder="Email" autocorrect="off" autocapitalize="off">
                            </div>
                            <div class="col-md-12 mb-2">
                                <button type="submit" class="btn btn-theme theme-btn-sm" data-trans-key="customer.recover_password.submit">Submit</button>
                            </div>
                            <div class="col-md-12">
                                <button type="button" id="HideRecoverPasswordLink" onclick="hideRecoverPasswordForm();return false;" class="btn btn-theme theme-btn-sm" data-trans-key="customer.recover_password.cancel">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-lg-6 right-login">
            <h3 data-trans-key="customer.register.heading">New customer</h3>
            <div class="theme-card authentication-right">
                <h6 class="title-font" data-trans-key="customer.register.title">Create Account</h6>
                <p data-trans-key="customer.register.content">Sign up for a free account at our store. Registration is quick and easy. It allows you to be able to order from our shop. To start shopping click register.</p>
                <a href="/account/register" class="btn btn-theme theme-btn-sm" data-trans-key="customer.register.submit">Create</a>
            </div>
        </div>



    </div>
</div>
<app-footer></app-footer>