

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  
  <!-- Top navigation -->
  <!-- <div>
  <nav class="navbar navbar-expand-md fixed-top top-nav">
	  <div class="container">
		  
  
			<div class=" row collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class=" col-sm-12 navbar-nav ml-auto  nav navbar-nav">
		
			<li class="nav-item">
				<div class="brand-logo" itemscope="" itemtype="">
					<a class="nav-link" href="/" itemprop="url">
						<img src="assets/img/logo7.png" class="img-fluid lazyloaded" alt="ps_multimart" style="max-width:250px">
					</a>
				</div>
			  </li>
				<li class="nav-item active">
				  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#">About</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#">Services</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#">Team</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#">Prices</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#">FAQ's</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#">Contact</a>
				</li>
				<li class="nav-item">
				  <div class="ml-md-4 d-none d-md-block dark-theme-icon nav-link">
					  <a href="#" title="Call info">
						<i class="flaticon flaticon-start fa-2x align-middle white-icon"></i>
						<span class="call-info">124-456-7813</span>
					  </a>
					</div>
				</li>
				
			  </ul>
			</div>	
	  </div>
  </nav>
	  
  </div> -->
<!-- <div>
<nav class="navbar navbar-expand-md fixed-top top-nav">
	<div class="container">
		

		  <div class=" row collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class=" col-sm-12 navbar-nav ml-auto  nav navbar-nav">
				<li class="dropdown nav-item">
					<a href="#" class="dropdown-toggle " data-toggle="dropdown">Iasmani Pinazo <span class="glyphicon glyphicon-user pull-right"></span></a>
					<ul class="dropdown-menu">
					  <li><a href="#">Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
					  <li class="divider"></li>
					  <li><a href="#">User stats <span class="glyphicon glyphicon-stats pull-right"></span></a></li>
					  <li class="divider"></li>
					  <li><a href="#">Messages <span class="badge pull-right"> 42 </span></a></li>
					  <li class="divider"></li>
					  <li><a href="#">Favourites Snippets <span class="glyphicon glyphicon-heart pull-right"></span></a></li>
					  <li class="divider"></li>
					  <li><a href="#">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
					</ul>
				  </li>
		   <li class="nav-item">
				  
			<div class="theme-searcbar sm-none-src d-none d-xl-block ">
				<form action="/search" method="get" role="search" class="theme-form-one header-style nav-links" style="position: relative;">
					<div class="form-group sm-none search-results">
						<input [value]="search" ngxTypeahead [taUrl]="url" [taParams]="params" (taSelected)="handleResultSelected($event)" type="search" class="form-control width-input" name="q" id="inputPassword2" placeholder="Search products" required="required" autocomplete="off"
						/>

						<button type="submit" class="btn btn-theme "><i class="fa fa-search" aria-hidden="true"></i></button>
					</div>
					<ul class="search-results" style="position: absolute; left: 0px; top: 44px; display: none;"></ul>
				</form>

			</div>
		   </li>
		  
		  
		      <li class="nav-item">
		        <a class="nav-link" href="#">About</a>
		      </li>
		     
			  <li class="nav-item">
				<div class="ml-md-4 d-none d-md-block dark-theme-icon nav-link">
					<a href="#" title="Call info">
					  <i class="flaticon flaticon-start fa-2x align-middle white-icon"></i>
					  <span class="call-info">124-456-7813</span>
					</a>
				  </div>
		      </li>
			  
		    </ul>
		  </div>	
	</div>
</nav>
	
</div> -->
<!-- sdhjk. -->
<div style="text-align:center">
  <ng-image-slider  #nav [images]="imageObject" [defaultActiveImage]=3 [animationSpeed]="5" [showArrow]="true" [infinite]="true" [autoSlide]="3" [imageSize]="{width: '100%', height: 350}" slideImage="1"><h1>go</h1></ng-image-slider>
  
</div>
    