<!-- <app-haeder-section></app-haeder-section>



<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>create account</h3>
                <div class="theme-card">

                    <form [formGroup]="formGroup" (validSubmit)="onSubmit()">

                        <div class="form-row">


                            <div id="recover_password " style="">
                                <h3 data-trans-key="customer.recover_password.title ">Reset your password</h3>

                                <div class="theme-card ">







                                    <div class="form-row ">
                                        <div class="col-md-12 ">
                                            <label for="RecoverEmail " data-trans-key="customer.recover_password.email ">Mobile No</label>
                                            <input type="text" name="mobile" formControlName="mobile" placeholder="Mobile No" id="RecoverEmail " class="form-control " autocorrect="off " autocapitalize="off ">
                                            <bfv-messages></bfv-messages>
                                        </div>
                                        <div class="col-md-12 mb-2 ">
                                            <button type="submit " class="btn btn-theme theme-btn-sm " data-trans-key="customer.recover_password.submit ">Submit</button>
                                        </div>
                                        <div class="col-md-12 ">
                                            <button type="button " id="HideRecoverPasswordLink " onclick="hideRecoverPasswordForm();return false; " class="btn btn-theme theme-btn-sm " data-trans-key="customer.recover_password.cancel ">Cancel</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-6 right-login ">
                                <h3 data-trans-key="customer.register.heading ">New customer</h3>
                                <div class="theme-card authentication-right ">
                                    <h6 class="title-font " data-trans-key="customer.register.title ">Create Account</h6>
                                    <p data-trans-key="customer.register.content ">Sign up for a free account at our store. Registration is quick and easy. It allows you to be able to order from our shop. To start shopping click register.</p>
                                    <a href="/account/register " class="btn btn-theme theme-btn-sm " data-trans-key="customer.register.submit ">Create</a>
                                </div>
                            </div>



                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer> -->

<div class="dfg">
    <div class="sign-inup">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-5">
    <div class="sign-form">
    <div class="sign-inner">
    <div class="sign-logo" id="logo">
    <a href="index.html"><img class="logo-inverse" src="assets/img/logo7.png" alt=""></a>
    </div>
    <div class="form-dt">
    <div class="form-inpts checout-address-step">

        <form [formGroup]="formGroup" (validSubmit)="onSubmit()" id="customer_login" accept-charset="UTF-8" class="theme-form">
            <div class="form-title"><h6>Reset your password</h6></div>
            

    <div class="form-group pos_rel">

    <input id="RecoverEmail" name="mobile" type="text"formControlName="mobile" placeholder="Enter  Number" autocorrect="off " autocapitalize="off " class="form-control lgn_input" required="">
    <i class="fa fa-mobile-phone lgn_icon"></i>
    </div>
    <button type="submit "class="login-btn hover-btn" data-trans-key="customer.recover_password.submit ">Submit</button>


    <button class="login-btns hover-btn" type="button" id="HideRecoverPasswordLink" onclick="hideRecoverPasswordForm();return false; " data-trans-key="customer.login.login">Cancel</button>
    </form>
    </div>
    
    <div class="signup-link">
    <p style="color: #fff;">Don't have an account? - <a routerLink="/register">Sign Up Now</a></p>
    </div>
    </div>
    </div>
    </div>
    <div class="copyright-text text-center mt-3">
    <i class="uil uil-copyright"></i>Copyright 2021 <b>Online Suppermart</b> . All rights reserved
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/OwlCarousel/owl.carousel.js"></script>
    <script src="vendor/semantic/semantic.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/product.thumbnail.slider.js"></script>
    <script src="js/offset_overlay.js"></script>
    <script src="js/night-mode.js"></script>
    
</div>




